*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans' , sans-serif;
    font-style: normal;   
}
.container{
    width: 1100px;
    margin: 0 auto;
}
.container_add{
    width: 900px;
    margin: 0 auto;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
}
.header{
    position: fixed;
    background-color: #fff;
   
    z-index: 3;
    left: 0;
    right: 0;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.header .pix-logo:hover{
    opacity: 0.8;
}
.header .pix-logo:active{
    opacity: 0.4;
}

.header .wrapp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header nav ul{
    display: flex;
    align-items: center;
    list-style: none;   
    position: relative;
}
.header nav ul .menu-link{
    display: inline-block;
    text-decoration: none;
    padding: 16px 0;
    margin: 0 30px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
}
.header nav ul .menu-link:active{
    color: #000;
}
.header nav ul .menu-link:hover{ 
    box-shadow: inset -25px -34px 0px -30px #000000;
}
.header nav ul .menu-link:nth-child(n+2):active{
    background-color: rgba(25, 25, 25, 0.7); 
    box-shadow: 0 0 0 0 #000000;
}
.btn-number{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    background-color: rgba(0, 186, 252, 1);
    border-radius: 5px;
    padding: 8px 16px;
}
.btn-number:hover{
    background-color: #fff;
    padding: 8px 14px;
    border: 2px solid  #00bafc;
    border-radius: 5px;
    color: #00bafc;
}
.head-num{
    list-style-type: none;
}
.btn-number:active{
    background-color: rgba(0, 186, 252, 0.6);
    color: #fff;
}
.header nav ul .dropdown{
    display: none;
    width: 134px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    top: 56px;
    left: 125px;
}
.header nav ul li:hover .dropdown{
    display: block;
}
.header nav ul .dropdown .dropdown-menu{
    display:block;
}
.header nav ul .dropdown .dropdown-menu li{
    margin: 5px 0;
}
.header nav ul .dropdown .dropdown-menu .dropdown-menu-itemk:hover{
    background-color: #00bafc; 
}
.header nav ul .dropdown .dropdown-menu .dropdown-menu-item:hover a{
    color: #0000;
}
.header nav ul .dropdown .dropdown-menu .dropdown-menu-item:active{
    background-color: #00bafc; 
    opacity: 0.6;
}
.header nav ul .dropdown-menu a{
    text-decoration: none;
    padding: 0 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    color: black ;
}
   /* <---------------HEADER END-----------------> */

      /* <---------------YOUTUBE START--------------> */

.promo-wrap-main{
    display: flex;
    padding-top: 150px;
    padding-bottom: 80px;
    justify-content: space-between;
}
.promo_wrapper{
    width: 470px;
}
.promo-h{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
}
.promo-p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 30px;
    padding-top: 16px;
}
.img_youtube_embed{
    position: relative; 
}
.youtube_page{
    border-radius: 10px;
} 
.youtube_btn{
    position: absolute;
    top: 75px;
    left: 154px;
}
.btn2{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    background-color: rgba(0, 186, 252, 1);
    border-radius: 5px;
    padding: 8px 16px;
    border: none;
}
.btn2:hover{
    background: rgba(0, 186, 252, 0.8);
}
.btn2:active{
    background: rgba(0, 186, 252, 0.6);
}   
  /* <------------------YOUTUBE END--------------------> */
   
  /* <--------------SERVICES START------------> */
  .services h2{
    text-align: center;
    padding-bottom: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
}
.services .servis_info_text{
    text-align: center;
    margin: 0 140px 30px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.services .services_type{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.services .services_type .service_link{
    width: 320px;
    height: 260px;
    text-align: center;
    margin-right: 70px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-decoration: none;
    color: #000;
}


.services .services_type .service_link:hover{
    -webkit-box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}
.services .services_type .service_link:active{
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}



.services .services_type .service_link:nth-child(3){
    margin-right: 0;
}
.services .services_type .service_link:nth-child(n+4){
    margin: 48px 38px 50px 38px;
}

.services .services_type .service_link h3{
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
}
.services .services_type .service_link h3 span{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
}


.img_before::before{
    display: block;
    content: "";
    width: 203px;
    height: 130px;
    background-image: url(../img/website-illustration.png);
    background-repeat: no-repeat;
    margin: 22px 0 22px 62px;
}
.img_before2::before{
    display: block;
    content: "";
    width: 203px;
    height: 130px;
    background-image: url(../img/bot-illustration.png);
    background-repeat: no-repeat;
    margin: 22px 0 22px 62px;
}
.img_before3::before{
    display: block;
    content: "";
    width: 203px;
    height: 130px;
    background-image: url(../img/smm-illustration.png);
    background-repeat: no-repeat;
    margin: 22px 0 22px 62px;
}
.img_before4::before{
    display: block;
    content: "";
    width: 203px;
    height: 130px;
    background-image: url(../img/design-illustration.png);
    background-repeat: no-repeat;
    margin: 22px 0 22px 62px;
}
.img_before5::before{
    display: block;
    content: "";
    width: 203px;
    height: 130px;
    background-image: url(../img/crm-illustration.png);
    background-repeat: no-repeat;
    margin: 22px 0 22px 62px;
}

.services .button{
    text-align: center;
    margin-bottom: 40px;
    
}
.services .button .btn_link{
    padding-left: 10px;
    color: #00bafc;
}
.services .button .btn_link:hover{
    color: rgba(0, 186, 252, 0.8);
}
.services .button .btn_link:active{
    color: rgba(0, 186, 252, 0.6);
}
/* <!----------- SERVICE END ------------------> */

/* <!---------WORK INFORMATION START-----------> */
.work h2{
    text-align: center;
    padding: 30px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
}
.work .service-text-p{
    text-align: center;
    margin: 0 100px 30px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.work ul li{
    list-style-type: none;
}
.work ul li .text-right{
    width: 600px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-left: 35px;
}
.work ul li .left-text{
    width: 600px;
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-right: 35px;
}
.work ul li h3{
    display: inline-block;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
}
.work_before{
    display: flex;
    align-items: center;
}
.work_before::before{
    display: inline-block;
    content: "";
    width: 300px;
    height: 280px;
    margin-bottom: 60px;
    background-image: url(../img/frame1.png);
    background-size: cover;
}
.work_after{
    display: flex;
    align-items: center;
}
.work_after::after{
    display: inline-block;
    content: "";
    width: 300px;
    height: 225px;
    margin-bottom: 60px;
    background-image: url(../img/frame2.png);
    background-size: cover;
}
.work_before2{
   display: flex;
   align-items: center;
}
.work_before2::before{
    display: inline-block;
    content: "";
    width: 300px;
    height: 259px;
    margin-bottom: 60px;
    background-image: url(../img/frame3.png);
    background-size: cover;
}
.work_after2{
     display: flex;
     align-items: center;
}
.work_after2::after{
    display: inline-block;
    content: "";
    width: 300px;
    height: 162px;
    margin-bottom: 60px;
    background-image: url(../img/frame2.png);
    background-size: cover;
}
.work_before3{
    display: flex;
    align-items: center;
}
.work_before3::before{
    display: inline-block;
    content: "";
    width: 300px;
    height: 232px;
    margin-bottom: 60px;
    background-image: url(../img/frame5.png);
    background-size: cover;
}
.work-btn{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    background-color: rgba(0, 186, 252, 1);
    border-radius: 5px;
    padding: 8px 16px;
    border: none;
}
.work-btn:hover{
    background: rgba(0, 186, 252, 0.8);
}
.work-btn:active{
    background: rgba(0, 186, 252, 0.6);
}
    /* <!---------WORK INFORMATION END-----------> */

    /* <!-------- ORDER FORM START -----------> */
.order-place{
    margin-top: 50px;
    width: 100%;
    height: 530px;
    background-color: #00BAFC;
}
.order-place h2{
    text-align: center;
    padding: 30px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    color: #fff;
}
.order-place p{
    text-align: center;
    margin: 0 350px 40px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}
.section-form{
    display: flex;
    justify-content: center;
}
.section-form form{
    width: 348px;  
    height: 300px;
    background-color: #fff;
    border-radius: 5px;
}
.section-form form input{
    width: 300px;
    padding: 16px;
    margin: 16px 24px 0;
    border: none;
    color: #000;
    font-weight: 500;
    background-color: #F3F3F3;
    border-radius: 5px;
}
.section-form form select{
    width: 300px;
    padding: 10px;
    margin: 16px 24px 0;
    border: none;
    color: #000;
    font-weight: 500;
    background-color: #F3F3F3;
    border-radius: 5px;
}
.section-form form input::placeholder{
    color: #000;
}
.section-form form button{
    margin: 20px 90px;
}
.btn-order{
    margin-left: 40%;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    background-color: rgba(0, 186, 252, 1);
    border-radius: 5px;
    padding: 10px 19px;
    border: none;
}
.btn-order:hover{
    background: rgba(0, 186, 252, 0.8);
}
.btn-order:active{
    background: rgba(0, 186, 252, 0.6);
}

/* <!---------- ORDER FORM END -----------> */

/* <!---------- FOOTER START ---------------> */

.footer{
    width: 100%;
    height: 340px;
    background-color: #191919;
}
.footer_content{
    display: flex;
}
.footer-box{
    width: 320px;
    margin-right: 100px;
    color: #fff;
}
.footer-box h3{
    padding: 56px 0 15px;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
}
.footer-box p{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.footer_content ul{
    padding: 56px 120px 0 0;
    list-style: none;
    color: #fff;
}
.footer_content ul li{
    padding-bottom: 10px;
}
.footer_content ul li a{
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}
.footer_content ul li a:hover{
    color: #00BAFC;
}
.footer_content ul li a:active{
    color: #00BAFC;
    opacity: 0.6;
}
.footer_content ul li a{
     display: flex;
     align-items: center;
}
 .social_network::before{
    content: "";
    display: inline-block; 
    margin-top: 5px;
    width: 22px;
    height: 24px;
    margin-right: 10px;
    background-image: url(../img/telegram.svg);
 }
.social_network2::before{
    content: ""; 
    display: inline-block;
    width: 22px;
    height: 24px;
    margin-right: 10px;
    background-image: url(../img/facebook.svg);
}
.social_network3::before{
    content:" ";
    display: inline-block;
    width: 22px;
    height: 24px;
    margin-right: 10px;
    background-image: url(../img/instagram.svg);
}
/* <!---------- FOOTER END ---------------> */